<%include file="header.html" />

<%include file="wait_info.html" />

<h2>Input Image</h2>

<div class="gallery" style="heigth:300px">
	<ul class="index">
		<li> <a href="#">input image A<span>
				<img src="${app.work_url + 'a.png'}" />
			</span></a>
		</li>
		<li> <a href="#">input image B<span>
				<img src="${app.work_url + 'b.png'}" />
			</span></a>
		</li>
		<li> <a href="#">flow ground truth F<span>
				<img src="${app.work_url + 't.png'}" />
			</span></a>
		</li>
	</ul>
</div>

<%include file="footer.html" />
